/* CSS Document */

.rmgsTitle{
	padding: 4px; background-color: transparent;
	vertical-align: top; font-size: 11px; text-align: right;
	font-weight: bold; color: #FF6600; font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 6px;
	border-bottom: 1px solid #FF9900;
}
.rmgsTitle a{ color: #FF6600; text-decoration: underline; }
.rmgsTitle a:hover{ color: #FF9900; text-decoration: none; }
.rmgsTitleR{ font-size: 11px; font-weight: normal; color: #FF3300; font-family: Arial, Helvetica, sans-serif; }
.title_left{ font-size: 24px; font-weight: bolder; color: #FF3300; font-family: Verdana, Arial, Helvetica, sans-serif; }
.title_left a{ color: #FF3300; text-decoration: none; }
.title_right{ font-size: 24px; font-weight: bolder; color: #FF3300; font-family: Verdana, Arial, Helvetica, sans-serif; }
.title_right a{ color: #FF3300; text-decoration: none; }
.welcome{
	font-size: 20px; font-family: Arial, Helvetica, sans-serif;
	font-weight: bold; color: #000000; text-align: left;
	padding: 6px;
}
.link_titles{ font-size: 18px; font-weight: bolder; text-align: left; font-family: Arial, Helvetica, sans-serif; }
.link_titles a{ color: #0066FF; text-decoration: underline; }
.photos{ border: 0px solid #CCCCCC; background-color: #FFFFFF; }
.photos td{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; padding: 4px; }
/*.photos a{ color: #FF6600; text-decoration: underline; font-weight: normal; }*/
.photos .info{ border-bottom: 1px solid #99CC00; }
.catego_title{ font-size: 18px; font-weight: bolder;  text-align: left; border-bottom: 1px solid #CCCCCC; padding: 4px; }
.categos_body{ color: #999999; font-size: 11px; font-weight: normal; text-align: left; padding: 4px; border-bottom: 1px solid #CCCCCC; }
.categos_body .title{ font-size: 14px; font-weight: bolder; font-family: Arial, Helvetica, sans-serif; }
.categos_body a{ text-decoration: none; }
.categos_body a:hover{ color: #FF9900; text-decoration: underline; }
.categos_body .subcat{ font-size: 10px; font-weight: bolder; }
.categos_body .info{ font-size: 10px; }
.imginfo{ font-size: 10px; text-align: left; padding: 2px; margin-bottom: 6px; }
.infoCells{ padding: 2px; font-size: 10px; border-bottom: 1px solid #CCCCCC; text-align: left; }
.infoCells .itemT{ font-size: 10px; font-weight: bold; color: #999999; }

.sizes_title{ font-family: Arial, Helvetica, sans-serif; padding: 4px; font-size: 16px; font-weight: bold; color: #999999; vertical-align: middle; }
.sizes_items{ font-size: 11px; padding: 4px; vertical-align: middle; text-align: center; border-left: 1px solid #CCCCCC; }
.sizes_items a{ text-decoration: underline; font-weight: normal; padding: 2px; }
.sizes_items a:hover{ background-color: #0066CC; color: #FFFFFF; }
.other_info td{ color: #666666; vertical-align: top; text-align: left; line-height: 1.4em; border: 0px; width: 120px; padding: 0px; padding-right: 5px; }
.other_info a{ color: #FF3300; font-weight: normal; font-size: 11px; }
.other_info a:hover{ color: #0066FF; text-decoration: none; }

.popkeys{ font-family: Arial, Helvetica, sans-serif; color: #006699; text-align: justify; line-height: 4em; }
.popkeys a{ text-decoration: none; color: #0066CC; }
.popkeys a:hover{ color: #FF9900; }

.pages{ padding: 2px; border: 1px solid #CCCCCC; background-color: #f5f5f5; color: #000000; font-size: 10px; font-weight: normal; }
.pages:hover{ background-color: #0066CC; color: #FFFFFF; border: 1px solid #000000; }
.current_page{ color: #000000; font-weight: bold; font-size: 11px; }

.viewTable{ width: auto; border: 0px; }
.viewBody{ padding: 4px; }
.locationBar{ font-size: 10px; padding: 4px; border-top: 1px solid #FFCC00; margin-top: 5px; }
.categosItems{ color: #FF3300; padding: 2px; margin-bottom: 4px; }
.categosItems a{ color: #FF3300; font-weight: bold; }
